# Core framework
fastapi==0.121.3
uvicorn[standard]==0.38.0

# Database
sqlalchemy==2.0.49

# Data processing
pydantic==2.12.4
pydantic-settings==2.10.1
pandas==2.3.3
openpyxl==3.1.5

# Templates and frontend
jinja2==3.1.6

# ETL Pipeline - bez wersji
dlt[sqlalchemy,postgres,filesystem,az]==1.18.1
s3fs<2026.0.0
sf-hamilton[visualization]>=1.88.0

# Security
cryptography==46.0.7

# HTTP Client
httpx==0.28.1

# Providers specific
google==3.0.0
google-cloud-bigquery==3.38.0
google-cloud-bigquery-storage==2.34.0
boto3
pyarrow>=10.0.0
azure-storage-blob==12.27.1
